.card {
    padding: 40px;
    border-radius: 50px;
    border: 1px solid #545353;
    width: 250px;
    height: 350px;
    margin: 50px 30px;
    background-color: antiquewhite;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.1s;
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), inset 0 0 0 99999px rgba(218, 213, 213, 0.2);
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.word {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.transcription {
    color: rgb(124, 121, 121);
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.showTranslation {
    margin-top: 44px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(44, 130, 101);
    color: aliceblue;
    font-size: 14px;
}

.showTranslation:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), inset 0 0 0 99999px rgba(218, 213, 213, 0.2);
}

.showTranslation:focus {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgb(88, 251, 159), inset 0 0 0 99999px rgba(218, 213, 213, 0.2);
}

.hide {
    display: none;
}

.translate {
    margin-top: 65px;
}

.arrow {
    background-color: #545353;
    padding: 7px 13px 10px;
    border-radius: 50%;
    display: block;
    height: fit-content;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), inset 0 0 0 99999px rgba(218, 213, 213, 0.2);
}

.cards-counter {
    text-align: center;
    padding-top: 50px;
  }